<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>PayloadContent</key><array><dict>
<key>FullScreen</key><FULLSCREENBOOLEAN/>
<key>Icon</key><data>ICONBASE64</data>
<key>IsRemovable</key><REMOVABLEBOOLEAN/>
<key>Label</key><string>TITLE</string>
<key>PayloadDescription</key><string>Configures Web Clip</string>
<key>PayloadDisplayName</key><string>TITLE</string>
<key>PayloadIdentifier</key><string>IDENTIFIER</string>
<key>PayloadOrganization</key><string>ORGANIZATION</string>
<key>PayloadType</key><string>com.apple.webClip.managed</string>
<key>PayloadUUID</key><string>0000</string>
<key>PayloadVersion</key><integer>1</integer>
<key>Precomposed</key><true/>
<key>URL</key><string>URLLOCATION</string>
</dict></array>
<key>PayloadDescription</key><string>DESCRIPTION</string>
<key>PayloadDisplayName</key><string>TITLE</string>
<key>PayloadIdentifier</key><string>IDENTIFIER</string>
<key>PayloadOrganization</key><string>Private</string>
<key>PayloadRemovalDisallowed</key><DISALLOW/>
<key>PayloadType</key><string>Configuration</string>
<key>PayloadUUID</key><string>0000</string>
<key>PayloadVersion</key><integer>1</integer>
</dict></plist>